@tailwind base;
@tailwind components;
@tailwind utilities;

#navlink {
    display: inline-block;
    padding-bottom: 2px;
    background-image: linear-gradient(#2ffd2f 0 0);
    background-position: 0 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
        background-size 0.3s,
        background-position 0s 0.3s;
 
}

#navlink:hover {
    background-position: 100% 100%;
    background-size: 100% 2px;
    animation-timing-function: ease-out;

}

/* Hide the scrollbar track */
::-webkit-scrollbar {
    width: 8px;
    /* Adjust the width to your preference */
}

/* Hide the scrollbar thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Make the thumb transparent */
}


 
 
.canvas{
    height:"100%";
    width:"100%";
}