@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}
      

#navlink {
    display: inline-block;
    padding-bottom: 2px;
    background-image: linear-gradient(#2ffd2f 0 0);
    background-position: 0 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
        background-size 0.3s,
        background-position 0s 0.3s;
 
}

#navlink:hover {
    background-position: 100% 100%;
    background-size: 100% 2px;
    animation-timing-function: ease-out;

}


#btnlink {
    display: inline-block;
    padding-bottom: 2px;
    background-image: linear-gradient(#13f41f 0 0);
    background-position: 0 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
        background-size 0.3s,
        background-position 0s 0.3s;
 }

#btnink:hover {
    background-position: 100% 100%;
    background-size: 100% 2px;
    animation-timing-function: ease-out;

}

/* Custom Scrollbar styling */
::-webkit-scrollbar {
    width: 4px;
}



/* Handle */
::-webkit-scrollbar-thumb {
   background: #374151;
   border-radius: 2px;
   width: 0px;
  }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2cff19;
}
::-webkit-scrollbar-thumb:vertical {
    width: 10px;
}
::-webkit-scrollbar-thumb:horizontal {
    display: none;
    width: 0px;
}

 
 
.canvas{
    height:"100%";
    width:"100%";
}